.idea/*
*.user
Build/
.vs/
[Oo]bj/
[Bb]in/
packages/
licenses.licx
/NuGet.Config

/mir3z/Server/Backup

**/z-res

**/Errors

**/Debug
**/Release



/mir3z/Server/*.exe
/__backup

/mir3z/Server/Chat Logs.txt
/mir3z/Server/Logs.txt
